{% comment %}
  Renders share button.
  Accepts:
  - block: {Object} passes in the block information.
  - share_link: {String} url to be added to the input the user will get/copy.

  Usage:
  {% render 'share-button',
    block: block,
    share_link: share_url
  %}
{% endcomment %}

<div class="znt-share-button_live visually-hidden" aria-live="polite" aria-atomic="true"></div>
<button 
  type="button" 
  class="znt-button znt-button--share share-button__button" 
  onclick="copyToClipboard()"
  {{ block.shopify_attributes }}
>
  <span class="svg-wrapper">{{ 'icon-share.svg' | inline_asset_content }}</span>
  {{ block.settings.share_label | escape }}
</button>

<script>
  function copyToClipboard() {
    navigator.clipboard.writeText(window.location.href).then(() => {
      const liveRegion = document.querySelector('.znt-share-button_live');
      const button = document.querySelector('.znt-button--share');

      liveRegion.textContent = 'Current website address was copied!';

      button.classList.add('znt--copied');

      setTimeout(() => {
        liveRegion.textContent = '';
        button.classList.remove('znt--copied');
      }, 2000);
    });
  }
</script>
